@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
}
nav {
  position: fixed;
  background-color: #303030;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 700;
  text-transform: uppercase;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: #8b008b;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}
.nav-toggle {
  padding: 0.5em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.nav-open nav {
  transform: translateX(0);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}
@media (min-width: 800px) {
  a {
    font-size: 2rem;
  }
}
